.table-wrap-type01 {
	width: 100%;
	position: relative;
  }
  .table-wrap-type01 .table-wrap-cont {
	overflow: hidden;
	border-radius: 0.5rem;
	border: 1px solid #bbbbbb;
	/* 기본테이블(empty) */
  }
  .table-wrap-type01 .table-wrap-cont.empty {
	border-bottom: 1px solid #bbbbbb;
  }
  .table-wrap-type01 .table-wrap-cont.empty .empty-info {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -30%);
			transform: translate(-50%, -30%);
	text-align: center;
  }
  .table-wrap-type01 .table-wrap-cont.empty .empty-info .empty-icon {
	width: 8rem;
	height: 8rem;
	margin: 0 auto 1.6rem;
	background-image: url(../images/icon/empty_icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
  }
  .table-wrap-type01 .table-wrap-cont.empty .empty-info > p {
	font-size: 1.4rem;
	line-height: 1.3;
  }
  .table-wrap-type01 .table-wrap-cont.empty .empty-info > p span {
	font-weight: 600;
	color: #ED1C24;
  }
  .table-wrap-type01 .table-wrap-cont.empty table {
	min-height: 35.2rem;
  }
  .table-wrap-type01 .table-wrap-cont.empty table tbody tr {
	height: 2.4rem;
	border-bottom: none;
  }
  .table-wrap-type01 .table-wrap-cont.empty table tbody tr:hover {
	background: #ffffff;
  }
  .table-wrap-type01 .table-wrap-cont table {
	width: 100%;
  }
  .table-wrap-type01 .table-wrap-cont table thead {
	background: #ededed;
  }
  .table-wrap-type01 .table-wrap-cont table thead th:not(:last-child) {
	border-right: 1px solid #dddddd;
  }
  .table-wrap-type01 .table-wrap-cont table thead th > div {
	min-height: 3.2rem;
	padding: 0.4rem 0.8rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: #656565;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .table-wrap-cont table thead th > div .input-wrap.checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .table-wrap-cont table tbody {
	background: #ffffff;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr.on {
	background: #FFF4F4;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr.sum {
	background: #FFF4F4;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr.bg-gray {
	background: #F8F8F8;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr:hover {
	background: #FFF4F4;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr:not(:last-child) {
	border-bottom: 1px solid #dddddd;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr td:not(:last-child) {
	border-right: 1px solid #dddddd;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr td > div {
	min-height: 3.2rem;
	padding: 0.4rem 0.8rem;
	font-size: 1.4rem;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr td > div.txt-left {
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr td > div.txt-right {
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr td > div .input-wrap.checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .table-wrap-cont table tbody tr td > div button {
	width: auto;
	min-width: auto;
	padding: 0.4rem 1.2rem;
	font-size: 1.2rem;
  }
  .table-wrap-type01 .table-wrap-top, .table-wrap-bottom {
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	gap: 0.4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .table-wrap-top.flex-end, .table-wrap-bottom.flex-end {
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
  }
  .table-wrap-type01 .table-wrap-top {
	margin-bottom: 1.2rem;
  }
  .table-wrap-type01 .table-wrap-top .table-name {
	gap: 2.4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .table-wrap-top .table-name > strong {
	font-size: 2rem;
	font-weight: bold;
  }
  .table-wrap-type01 .table-wrap-bottom {
	margin-top: 1.2rem;
  }
  .table-wrap-type01 .table-wrap-bottom .btn-wrap {
	margin-top: 0.8rem !important;
  }

  /* pagenation */
  .table-wrap-type01 .pagination {
	margin-top: 0.8rem;
  }
  .table-wrap-type01 .pagination-inner {
	gap: 0.4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .pagination-inner > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	gap: 0.4rem;
  }
  .table-wrap-type01 .pagination-inner a {
	min-width: 2.8rem;
	height: 2.8rem;
	padding: 0.6rem;
	font-size: 1.4rem;
	border-radius: 0.4rem;
	background: #ffffff;
	border: 1px solid #bbbbbb;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  .table-wrap-type01 .pagination-inner a.btn-prev {
	background-image: url(../images/icon/pagi_prev_icon.png);
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center center;
  }
  .table-wrap-type01  .pagination-inner a.btn-next {
	background-image: url(../images/icon/pagi_next_icon.png);
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center center;
  }
  .table-wrap-type01 .pagination-inner a.on, .pagination-inner a:hover {
	border-color: #ED1C24;
	color: #ED1C24;
	font-weight: 600;
  }
  .table-wrap-type01 .pagination + .btn-wrap {
	margin-top: 2rem;
  }










	
@media (min-width: 320px) and (max-width: 1079px){
	.divTable{
	} 
	.divTableHeading{
		display:none;
	}
	.divTable .divTableBody .divTableRow{
		border:1px solid #ddd;
		border-radius:1.6rem;
		margin-bottom:2rem;
		padding:2rem;
		font-size:0;
	}
	.divTable .divTableBody .divTableRow::after{
		content:'';
		clear:both;
		display: block;
	}
	.divTable .divTableBody .divTableCell{
		font-size:1.3rem;
	}
	.divTable .divTableBody .divTableCell span{
		font-size:1.3rem;
	}
	.divTable .divTableBody .divTableCell:nth-child(1){
		width:100%;
		text-align: left;
		font-size: 0;
	}
	.divTable .divTableBody .divTableCell:nth-child(1)::before{
		content:'No.';
		display:inline;
		font-size: 1.3rem;

	}
	.divTable .divTableBody .divTableCell:nth-child(2){
		width:100%;
		font-size:20px;
		text-align: left;
	}
	.divTable .divTableBody .divTableCell:nth-child(3),
	.divTable .divTableBody .divTableCell:nth-child(4){
		float:left;
		margin-right:1rem;
	}
	.divTable .divTableBody .divTableCell:nth-child(4){
	}
	.divTable .divTableBody .divTableCell:nth-child(5){
		clear:both;
	}
	.divTable .divTableBody .divTableCell:nth-child(5) .input-wrap{
		width:100%;
	}
	.divTable .divTableBody .divTableCell:nth-child(5) .input-wrap input{
		width:100%;
	}
	.divTable .divTableBody .divTableCell:nth-child(6) span:before{
		content:'단가';
		display:inline;
		font-size: 1.3rem;
	}
	.divTable .divTableBody .divTableCell:nth-child(6),
	.divTable .divTableBody .divTableCell:nth-child(7){
		float:left;
		margin-right:1rem;
	}
	.divTable .divTableBody .divTableCell:nth-child(7){
	}
	.divTable .divTableBody .divTableCell:nth-child(8){
		clear:both;
	}
	.divTable .divTableBody .divTableCell:nth-child(8){
		float:right;
	}
	.divTable .divTableBody .divTableCell:nth-child(9){
		float:left;
	}
	.divTable .divTableBody .divTableCell:nth-child(9) span::before{
		content:'결재금액';
		display:inline;
		font-size: 1.3rem;
	}
} 

@media (min-width: 1080px){
	div.divTable {
		width: 100%;
		text-align: left;
		border-collapse: collapse;
	}
	.divTable .divTableCell, 
	.divTable .divTableHead {
		border: 1px solid #000000;
		padding: 5px 4px;
		text-align: center;
	}
	.divTable .divTableCell.text-left{
		text-align:left;
	}
	.divTable .divTableCell.text-right{
		text-align:right;
	}
	.divTable .divTableBody .divTableCell {
		font-size: 13px;
	}
	.divTable .divTableHeading {
		background: #CFCFCF;
	}
	.divTable .divTableHeading .divTableHead {
		font-size: 15px;
		font-weight: bold;
		color: #000000;
	}
	.tableFootStyle {
		font-size: 14px;
	}

	.divTable .divTableHead:nth-child(1){

	}
	/* DivTable.com */
	.divTable{ display: table; }
	.divTableRow { display: table-row; }
	.divTableHeading { display: table-header-group;}
	.divTableCell, .divTableHead { display: table-cell;}
	.divTableHeading { display: table-header-group;}
	.divTableFoot { display: table-footer-group;}
	.divTableBody { display: table-row-group;}
}
 












/* mobile only */
@media (min-width: 320px) and (max-width: 997px){
    .res_tbl_wrap table col {
        width: 100% !important;
    }
    .res_tbl_wrap table thead {
        display: none;
    }
    .res_tbl_wrap table tbody tr {
        border-bottom: 1px solid #efefef;
    }
    .res_tbl_wrap table tbody tr td {
        width: 100%;
        display: flex;
        margin-bottom: 2px;
        padding: 5px;
        border-bottom: none;
        font-size: 14px;
        line-height: 18px;
    }
    .res_tbl_wrap table tbody tr td:first-child, 
    .res_tbl_wrap table tbody tr th:first-child {
        padding-top: 16px;
    }
    .res_tbl_wrap table tbody tr td:last-child, 
    .res_tbl_wrap table tbody tr th:last-child {
        padding-bottom: 15px;
    }
    .res_tbl_wrap table tbody tr td:before {
        display: inline-block;
        margin-right: 12px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        font-weight: 700;
        content: attr(data-label);
    }
}

@media (min-width:1080px){
	/* common */
	.res_tbl_wrap {
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		border-top: 2px solid #121212;
	}
	.res_tbl_wrap table {
		display: table;
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
	}
	.res_tbl_wrap table thead tr th {
		border-bottom: 1px solid #121212;
	}
	.res_tbl_wrap table thead tr th,
	.res_tbl_wrap table tbody tr td {
		text-align: left;
		padding: 0.8125vw 1.25vw;
		font-size: 15px;
		font-size: 1.3vw;
		line-height: 1.375vw;
	}
	.res_tbl_wrap table tbody tr td {
		border-bottom: 1px solid #efefef;
	}
	/*only_web*/
	.res_tbl_wrap table thead tr th,
    .res_tbl_wrap table tbody tr td {
        padding: 12px 20px;
        font-size: 16px;
        line-height: 22px;
    }
}





@media (min-width: 1080px){
	.responsivetable{
		margin-bottom:4rem;
	}
	.responsivetable table{
		border-top:2px solid #000;
	}
	.responsivetable table thead tr{
		background-color:#eee;
	}
	.responsivetable table thead tr th{
		color:#000;
	}
	.responsivetable table thead tr th,
	.responsivetable table tbody tr td,
	.responsivetable table tfoot tr td{
		text-align: center;
		padding:10px 0;
		border:1px solid #ddd;
	}
	.responsivetable table td[colspan="7"]{
		text-align: right;
		padding-right:10px;
	}
}

@media (min-width: 320px) and (max-width: 1079px){
	.responsivetable table,
	.responsivetable thead,
	.responsivetable tbody,
	.responsivetable tfoot,
	.responsivetable tr,
	.responsivetable th,
	.responsivetable td{
		display:block;
		text-align: left;
		font-size:1.4rem;
	}
	.responsivetable thead{
		display:none;
	}
	.responsivetable tbody tr{
		margin-bottom:10px;
		border-top:2px solid #ED1C24;
	}
	.responsivetable td{
		padding:10px 0 10px 10px;
		border-bottom:1px solid #ddd;
	}
	.responsivetable tbody tr td:nth-child(2),
	.responsivetable tbody tr td:nth-child(3){
		display:inline-block;
	}
	.responsivetable tbody tr td:nth-child(5),
	.responsivetable tbody tr td:nth-child(6){
		display:inline-block;
	}
	.responsivetable table td[colspan="7"]{
		background-color: #ED1C24;
		color:#fff;
		text-align: right;
		padding-right:10px;
	}
	.responsivetable tbody tr td:nth-child(1) span::before {
        content: attr(data-label);
		display:inline;
		font-size:1.4rem;
    }
}

