$black: #222222;
$white: #ffffff;
$gray01: #aaaaaa;
$gray02: #bbbbbb;
$gray03: #eeeeee;
$gray04: #dddddd;
$gray05: #E8E8E8;
$darkgray: #656565;
$mainColor: #ED1C24;
$subColor: #FFF4F4;

@mixin border($width, $color) {border: $width solid $color;}
@mixin flexbox($direction, $justfy, $align){
	display:flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}
@mixin ellipsis($num: 1) {
    @if ($num == 1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } @else {
      display: -webkit-box;
      overflow: hidden;
      word-break: keep-all;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $num;
    }
}
@mixin background ($folder: folder_name, $img: file, $type: png, $repeat:no-repeat, $size, $x:0, $y:0) {
    background-image: url(../images/#{$folder}/#{$img}.#{$type});
    background-repeat: #{$repeat};
    background-size: #{$size}; 
    background-position: #{$x} #{$y};
} 

*{box-sizing: border-box;}
html{font-size: 10px;}

body{
    font-size: 1.6rem;
    line-height: 1;
    color: $black;
    *{
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 400;
    }
    &.fixed{
        width: 100vw !important;
        height: 100vh !important;
        overflow: hidden !important;
    }
}

.con-box{
    width: calc(100% - 4rem);
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.hide {
    position: absolute;
    width: 1px!important;
    height: 1px!important;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc{display: block;}
.d-mb{display: none;}

/* flex-item */
.flex-wrap{
    gap: .4rem;
    flex-wrap: wrap;
    @include flexbox(row, flex-start, flex-start);
    &.center{
        align-items: center;
        gap: 2rem;
    }
}

.flex-center{@include flexbox(row, center, center);}
.flex-end{@include flexbox(row, flex-end, flex-start);}
.flex-between{@include flexbox(row, space-between, flex-start);}

.mt40{margin-top: 4rem;}

/* button */
.btn-wrap{
    gap: .4rem;
    @include flexbox(row, flex-start, center);
    &.flex-end{justify-content: flex-end;}
}
button{
    // 기본(black 100*32)
    width: 10rem;
    min-width: 10rem;
    max-height: 3.2rem;
    padding: .6rem .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .4rem;
    background: $white;
    color: $darkgray;
    border-color: $darkgray;
    gap: .4rem;
    transition: all .2s;
    @include border(1px, $black);
    @include flexbox(row, center, center);
    &:hover{
        color: $mainColor;
        border-color: $mainColor;
    }
    &:disabled{
        border-color: $gray01;
        background: $gray03;
        pointer-events: none;
    }
    // 기본(balck type)
    &.type01{
        background: $black;
        border-color: $black;
        color: $white;
        &:hover{
            border-color: $mainColor;
            background: $mainColor;
        }
        &:disabled{
            border-color: $gray01;
            background: $gray01;
            color: $white;
        }
    }
    &.type02{
        border-color: $mainColor;
        color: $mainColor;
        border-color: $mainColor;
        &:hover{
            color: $white;
            background: $mainColor;
        }
        &:disabled{
            border-color: $gray01;
            background: $gray03;
            color: $darkgray;
        }
    }
    
    // 기본(좌우 12여백*32)
    &.size01{
        width: auto;
        // min-width:auto;
        padding: .6rem 1.2rem;
    }
    &.excel{
        &::before{
            content: '';
            width: 2rem;
            height: 2rem;
            filter: invert(100%) sepia(5%) saturate(44%) hue-rotate(137deg) brightness(100%) contrast(73%);
            @include background(icon, excel_icon, svg, no-repeat, contain, center, center);
        }
        &.type01{&::before{filter: none;}}
    }
}

/* pagenation */
.pagination{
    margin-top: 0.8rem;
    &-inner{
        gap: .4rem;
        @include flexbox(row, center, center);
        > div{
            @include flexbox(row, flex-start, center);
            gap: .4rem;
        }
        a{
            // width: 2.8rem;
            min-width: 2.8rem;
            height: 2.8rem;
            padding: .6rem;
            font-size: 1.4rem;
            border-radius: .4rem;
            background: $white;
            @include border(1px, $gray02);
            @include flexbox(row, center, center);
            &.btn-prev{@include background(icon, pagi_prev_icon, png, no-repeat, 65%, center, center);}
            &.btn-next{@include background(icon, pagi_next_icon, png, no-repeat, 65%, center, center);}
            &.on, &:hover{
                border-color: $mainColor;
                color: $mainColor;
                font-weight: 600;
            }
        }
    }
    + .btn-wrap{margin-top: 2rem;}
}

/* datepicker custom */
.ui-datepicker{width: 23.2rem;padding: 2rem 1.4rem;border-color: $gray02;z-index: 999;}
.ui-datepicker .ui-datepicker-header{padding: 0;}
.ui-datepicker .ui-datepicker-title{margin: 0 2rem;line-height: 1;font-size: 1.3rem;}
.ui-widget-header{background: $white;border: none;}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next{width: 2rem;height: 2rem;border-radius: 50%;top: 50%;transform: translateY(-50%);}
.ui-datepicker .ui-state-hover{background: $white !important;}
.ui-datepicker .ui-datepicker-prev{left: 0;}
.ui-datepicker .ui-datepicker-next{right: 0;}
.ui-datepicker .ui-datepicker-prev span{@include background(icon, date_arrow_icon01, png, no-repeat, contain, center, center)}
.ui-datepicker .ui-datepicker-next span{@include background(icon, date_arrow_icon02, png, no-repeat, contain, center, center)}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    font-size: 1.4rem;
    width: 6.4rem;
    font-weight: bold;
    border: none;
    border-radius: 0;
    &::-webkit-scrollbar {width: 6px;height: 6px;}
    &::-webkit-scrollbar-thumb {background: $mainColor;}
    &::-webkit-scrollbar-track {background: $gray02;}
}
.ui-datepicker select.ui-datepicker-month{margin-left: 1rem;}
.ui-datepicker table{margin: 1.4rem 0 0 0;}
.ui-datepicker th {padding: .4rem;}
.ui-datepicker td span{color: $darkgray;font-weight: 600;}
.ui-datepicker td span, .ui-datepicker td a{width: 2.4rem;height: 2.4rem;margin: 0 auto;font-size: 1.4rem;}
.ui-state-default, .ui-widget-content .ui-state-default{border: none;color: $black;/*background: $white;*/@include flexbox(row, center, center);}
.ui-state-default, .ui-widget-content .ui-state-default{border-radius: 50%;background: $white;}
.ui-state-active, .ui-widget-content .ui-state-active{@include border(1px, $mainColor)}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{background: $mainColor;color: $white;font-weight: bold;}

/* time */
.ui-timepicker-standard{
    z-index:100 !important;
}
.ui-timepicker{
    border:none;
}
.ui-timepicker-viewport{
    
}
.ui-timepicker-viewport::-webkit-scrollbar {width: 6px;height: 6px;}
.ui-timepicker-viewport::-webkit-scrollbar-thumb {background: $mainColor;}
.ui-timepicker-viewport::-webkit-scrollbar-track {background: $gray02;}
.ui-menu .ui-menu-item a{font-size:1.4rem;}

/* table */
.total-num{
    font-weight: 500;
    > strong{
        font-weight: bold;
        color: $mainColor;
    }
}
.table-wrap{
    width: 100%;
    position: relative;
    &-cont{
        overflow: hidden;
        border-radius: .5rem;
        @include border(1px, $gray02);
        /* 기본테이블(empty) */
        &.empty{
            border-bottom: 1px solid $gray02;
            .empty-info{
                position: absolute;
                top: 50%;
                left: 50%;
                // transform: translate(-50%, -50%);
                transform: translate(-50%, -30%);
                text-align: center;
                .empty-icon{
                    width: 8rem;
                    height: 8rem;
                    margin: 0 auto 1.6rem;
                    @include background(icon, empty_icon, png, no-repeat, contain, center, center);
                }
                > p{
                    font-size: 1.4rem;
                    line-height: 1.3;
                    span{
                        font-weight: 600;
                        color: $mainColor;
                    }
                }
            }
            table{
                min-height: 35.2rem;
                tbody{
                    tr{
                        height: 2.4rem;
                        border-bottom: none;
                        &:hover{background: $white;}
                    }
                }
            }
        }
        table{
            width: 100%;
            thead{
                background: #ededed;
                th{
                    &:not(:last-child){border-right: 1px solid $gray04;}
                    > div{
                        min-height: 3.2rem;
                        padding: .4rem;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: $darkgray;
                        @include flexbox(row, center, center);
                        .input-wrap{
                            &.checkbox{@include flexbox(row, center, center)}
                        }
                    }
                }
            }
            tbody{
                background: $white;
                tr{
                    transition: all .2s;
                    cursor: pointer;
                    &.on{background: $subColor;}
                    &.bg-gray{background: #F8F8F8;}
                    &:hover{background: $subColor;}
                    &:not(:last-child){border-bottom: 1px solid $gray04;}
                    td{
                        &:not(:last-child){border-right: 1px solid $gray04;}
                        > div{
                            min-height: 3.2rem;
                            padding: .4rem;
                            font-size: 1.4rem;
                            text-align: center;
                            @include flexbox(row, center, center);
                            &.txt-right{justify-content: flex-end;}
                            .input-wrap{
                                &.checkbox{@include flexbox(row, center, center)}
                            }
                            button{
                                width: auto;
                                min-width: auto;
                                padding: .4rem 1.2rem;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &-top, &-bottom{
        flex-wrap: wrap;
        gap: .4rem;
        @include flexbox(row, space-between, center);
        &.flex-end{justify-content: flex-end;}
    }
    &-top{margin-bottom: 1.2rem;}
    &-bottom{
        margin-top: 1.2rem;
        .btn-wrap{margin-top: 0.8rem !important;}
    }
}

/* input */
.input-list{
    gap: 2rem;
    @include flexbox(column, flex-start, flex-start);
    // vertical 리스트 
    &.type01{
        // gap: 1.2rem;
        gap: 2rem;
        > li{
            @include flexbox(column, flex-start, flex-start);
            width: 100%;
            .input-tit, .input-cont{width: 100%;}
            .input-tit{
                max-width: 100%;
                gap: 1.2rem;
                @include flexbox(row, flex-start, center);
                .alert{
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $mainColor;
                }
                label{font-weight: bold;}
            }
            .input-cont{
                .input-wrap{
                    width: 100%;
                    gap: .8rem;
                    @include flexbox(column, flex-start, flex-start);
                    input{width: 100%;}
                }
            }
        }
    }
    > li{
        gap: 1.2rem;
        @include flexbox(row, flex-start, center);
        &.top-align{
            align-items: flex-start;
            .input-tit{margin-top: 0.6rem;}
        }
        .input-tit{
            min-width: 18rem;
            // max-width: 18rem;
            width: 18rem;
            > span{
                font-weight: bold;
                position: relative;
            }
        }
        .input-cont{
            gap: .8rem;
            // @include flexbox(row, flex-start, flex-start);
            @include flexbox(row, flex-start, center);
            &.column-type{flex-direction: column;}
            .radio, .checkbox{
                &:not(:last-child){margin-right: 1.2rem;}
            }
        }
        // 필수 입력사항
        &.essential{
            .input-tit{
                span{
                    padding-left: 1rem;
                    &::before{
                        content: '*';
                        color: $mainColor;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50% );
                    }
                }
            }
        }
    }
}
.input-wrap{
    position: relative;
    gap: .4rem;
    @include flexbox(row, flex-start, flex-start);
    &.row-type{flex-direction: row !important;}
    input[type="text"], input[type="search"], input[type="number"], input[type="password"], input[type="email"]{
        width: 12rem;
        height: 3.2rem;
        padding: .8rem 1.2rem;
        border-radius: .4rem;
        background: $white;
        outline: none;
        @include border(1px, $gray04);
        &:active, &:focus{border: 1px solid $mainColor;}
        &:disabled{
            background: $gray03;
            border-color: $gray04;
            pointer-events: none;
        }
    }
    &.w-400{
        input[type="text"], input[type="search"], input[type="number"], input[type="password"], input[type="email"], textarea{width: 40rem;}
    }
    &.w-440{
        input[type="text"], input[type="search"], input[type="number"], input[type="password"], input[type="email"], textarea, select{width: 40rem;}
    }
    &.w-100p{
        input[type="text"], input[type="search"], input[type="number"], input[type="password"], input[type="email"], select{width: 100%;}
    }
    p{
        font-size: 1.4rem;
        &.underline{
            width: 100%;
            text-decoration: underline;
            font-weight: bold;
        }
    }
    textarea{
        min-height: 8rem;
        max-height: 8rem;
        overflow: auto;
        padding: .8rem 1.2rem;
        resize: none;
        border-radius: .4rem;
        @include border(1px, $gray04);
        &:disabled{
            background: $gray03;
            border-color: $gray04;
            pointer-events: none;
        }
    }
    // radio, checkbox
    &.radio, &.checkbox{
        &.disabled{pointer-events: none;}
        input[type="radio"], input[type="checkbox"]{
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            -webkit-clip-path: polygon(0 0, 0 0, 0 0);
            clip-path: polygon(0 0, 0 0, 0 0);
            + label{
                position: relative;
                padding-left: 2.4rem;
                line-height: 2;
                font-size: 1.4rem;
                white-space: nowrap;
                cursor: pointer;
                &.emphasis{
                    color: $mainColor;
                    font-weight: 600;
                }
                &::before, &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::before{
                    width: 1.6rem;
                    height: 1.6rem;
                    transform: translateY(-50%);
                    background: $white;
                    @include border(1px, $gray01);
                }
            }
        }
    }
    &.radio{
        &.disabled{
            input[type="radio"]{
                &:checked{
                    + label{
                        &::before{border-color: $gray01;}
                    }
                }
                + label{
                    &::before{background: #EFEFEF;}
                    &::after{background: $gray03;}
                }
            }
        }
        input[type="radio"]{
            &:checked{
                + label{
                    &::before{border-color: $mainColor;}
                    &::after{transform: translateY(-50%) scale(1);}
                }
            }
            + label{
                &::before, &::after{border-radius: 50%;}
                &::before{left: 0;}
                &::after{
                    width: .8rem;
                    height: .8rem;
                    left: .5rem;
                    transform: translateY(-50%) scale(0);
                    background: $mainColor;
                }
            }
        }
    }
    &.checkbox{        
        &.disabled{
            input[type="checkbox"]{
                &:checked{
                    + label{
                        &::before{border-color: $gray01;}
                    }
                }
                + label{
                    &::before{background: #EFEFEF;}
                    &::after{
                        filter: invert(68%) sepia(76%) saturate(0%) hue-rotate(240deg) brightness(88%) contrast(87%);
                    }
                }
            }
        }
        input[type="checkbox"]{
            &:checked{
                + label{
                    &::before{border-color: $mainColor;}
                    &::after{opacity: 1;}
                }
            }
            + label{
                min-height: 1.6rem;
                &::before{border-radius: .2rem;}
                &::after{
                    width: 1.6rem;
                    height: 1.6rem;
                    opacity: 0;
                    @include background(icon, check_icon, svg, no-repeat, 100%, center, center);
                }
            }
        }
    }
    &.txt-check{
        max-height: 3.2rem;
        padding: .2rem 1rem;
        border-radius: .5rem;
        @include border(1px, $gray04);
        &.on{
            color: $mainColor;
            border-color: $mainColor;
            background: $subColor;
        }
    }
    // datepicker
    &.date{
        input.datepicker{
            padding-left: 3rem;
            @include background(icon, calendar_icon, png, no-repeat, 2rem, left .6rem, center)
        }
    }
    &.select{
        select{
            min-width: 12rem;
            height: 3.2rem;
            border-radius: .5rem;
            @include border(1px, $gray04);
        }
    }
    &.error{
        input{
            background: $subColor;
            border-color: $mainColor;
            color: $mainColor;
        }
    }
    &.count{
        gap: 1rem;
        @include flexbox(row, center, center);
        button{
            min-width: 2rem;
            width: 2rem;
            height: 2rem;
            padding: 0;
            font-weight: bold;
            border-color: $gray04;
        }
        input{
            width: auto;
            max-width: 4rem;
            padding: 0;
            font-size: 1.4rem;
            text-align: center;
            border: none;
            background: inherit;
        }
    }
    &.remove{
        input{padding: 0.8rem 3.6rem 0.8rem 1.2rem;}
        button{
            &.remove{
                min-width: auto;
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1.2rem;
                border-color: $gray04;
                font-size: 2rem;
                padding: 0;
            }
        }
    }
    // file custom
    &.input-file-wrap{
        flex-direction: row !important;
        input[type="file"]{
            position:absolute;
            width:0;
            height:0;
            padding:0;
            border:0;
            overflow:hidden;
        }
        .input-upload-name{width: 100%;}
        label{
            width: 10rem;
            min-width: 10rem;
            height: 3.2rem;
            padding: .6rem .4rem;
            font-size: 1.4rem;
            font-weight: 500;
            border-radius: 0.4rem;
            vertical-align: middle;
            background: $black;
            color:$white;
            cursor: pointer;
            @include flexbox(row, center, center);
            transition: all .2s;
            &:hover{background: $mainColor;}
        }
    }
    // link custom
    &.input-link-wrap{
        flex-direction: row !important;
        input[type="text"]{width: 100%;}
        label{
            width: 10rem;
            min-width: 10rem;
            height: 3.2rem;
            padding: .6rem .4rem;
            font-size: 1.4rem;
            font-weight: 500;
            color:$darkgray;
            border-radius: 0.4rem;
            vertical-align: middle;
            border:1px solid $darkgray;
            background: $gray03;
            cursor: default;
            @include flexbox(row, center, center);
            transition: all .2s;
            &.on{
                background: $white;
                cursor: pointer;
                &:hover{
                    background: $gray03;
                }
            }        
        }
    }
    &.input-search-wrap{
        flex-direction: row !important;
        input[type="search"]{width: 100%;}
    }
}         

/* list-type */
.list-type{position: relative;}
.list-type01{
    gap: 1.2rem;
    // counter-reset: number 0;
    @include flexbox(column, flex-start, flex-start);
    > li{
        width: 100%;
        gap: .8rem;
        @include flexbox(row, flex-start, center);
        &.fixation{
            .num{
                + div{
                    p{
                        &::before{
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            width: 2rem;
                            height: 2rem;
                            @include background(icon, pin_icon, png, no-repeat, contain, center, center);
                        }
                    }
                }
            }
        }
        .num{
            padding: .2rem .5rem;
            min-width: 2rem;
            height: 2rem;
            font-size: 1.2rem;
            font-weight: bold;
            color: $darkgray;
            border-radius: .5rem;
            @include flexbox(row, center, center);
            @include border(1px, $gray01);
            + div{
                gap: .8rem;
                width: calc(100% - 2.8rem);
                @include flexbox(row, space-between, center);
            }
        }
        p{
            position: relative;
            font-size: 1.4rem;
            @include ellipsis(1);
        }
        .date{
            font-size: 1.2rem;
            color: $darkgray;
            gap: .4rem;
            @include flexbox(row, flex-start, center);
            &::before{
                content: '';
                width: 1.6rem;
                height: 1.6rem;
                @include background(icon, date_icon, png, no-repeat, contain, center, center);
            }
        }
        .alert{
            font-size: 1.2rem;
            color: $mainColor;
            font-weight: 500;
        }
    }
}

.period-list{
    gap: 1.2rem;
    @include flexbox(row, flex-start, flex-start);
    > li{
        min-height: 3.2rem;
        padding: 0.8rem 1.2rem;
        font-size: 1.4rem;
        color: #767676;
        cursor: pointer;
        background: $white;
        border-radius: .5rem;
        @include border(1px, $gray04);
        &.on, &:hover{
            color: $mainColor;
            border-color: $mainColor;
            background: $subColor;
        }
    }
    + .flex-wrap{gap: .4rem;}
}

.switch{
    position: relative;
    .btn-toggle {
        position: relative;
        margin: 0 6.5rem;
        padding: 0;
        border: none;
        height: 2rem;
        width: 4rem;
        min-width: auto;
        background: #EDEDED;
        border-radius: 2rem;
        &[aria-pressed="false"]{
            &::before{
                font-weight: bold;
                color: $black;
            }
        }
        &[aria-pressed="true"]{&::after{font-weight: bold;}}
        &::before, &::after {
          width: 6rem;
          text-align: center;
          font-weight: 500;
          color: $darkgray;
          font-size: 1.4rem;
          white-space: nowrap;
          position: absolute;
          bottom: 0;
          transition: opacity .25s;
        }
        &::before{
            content: '최근 7일';
            left: -6.5rem;
        }
        &::after{
            content: '최근 30일';
            right: -6.5rem;
        }
        &.on{
            background: $mainColor;
            .handle{left: 2.2rem;}
        }
        .handle{
            position: absolute;
            top: .2rem;
            left: .2rem;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            background: $white;
            transition: left 0.25s;
        }
    }
}


/*billy 2023-07-18 input group*/
.form-group{
    position:relative;
    margin-bottom:2rem;
    &:last-child{
        margin-bottom:0;
    }
    .input-wrap{
        .input-bg-glay{
            background-color:$gray03;
        }
    }
}
.input-account{
    margin-bottom:1rem;  
    strong{
        font-size:1.6rem;
        color:$black;
        font-weight: 600;
        > .mandatory{
            position:relative;
            color:$mainColor;
            top:-.3rem;
        }
    }
    span{
        font-size:1.4rem;
    }
}