/* header */
#header{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 7.6rem;
    overflow: hidden;
    background: $white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: height .35s;
    &.active{height: 33.6rem;}
    &::before{
        content: '';
        width: 100%;
        height: 1px;
        background: $gray01;
        position: absolute;
        top: 7.6rem;
        left: 0;
    }
    .header-inner{
        padding: 2rem 0;
        @include flexbox(row, space-between, center);
        .gnb-menu{
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            &-list{
                gap: 2.6rem;
                @include flexbox(row, flex-start, flex-start);
                > li{
                    position: relative;
                    min-width: 15rem;
                    &.on, &:hover{
                        .depth1{color: $mainColor;}
                    }
                    .depth1{
                        width: 100%;
                        font-size: 1.8rem;
                        font-weight: bold;
                        padding: 2.9rem 0;
                        text-align: center;
                        transition: all .2s;
                    }
                    .depth2-list{
                        width: 100%;
                        > li{
                            margin-top: 2.4rem;
                            .depth2{
                                width: 100%;
                                font-size: 1.6rem;
                                text-align: center;
                                transition: all .2s;
                                &.on, &:hover{
                                    font-weight: bold;
                                    color: $mainColor;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        .account{
            gap: 2rem;
            @include flexbox(row, flex-start, center);
            &-info{
                gap: .8rem;
                @include flexbox(row, flex-start, center);
                strong{
                    font-weight: 500;
                    span{font-weight: bold;}
                }
            }
            button{
                min-width: 7.6rem;
            }
        }
    }
}
/* footer */
#copyright{
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // z-index: 99;
    width: 100%;
    height: 3.2rem;
    padding: 1rem 0;
    background: $gray01;
    color: white;
    > .con-box{
        text-align: right;
        font-size: 1.2rem;
    }
}
/* popup */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .4);
    transition: all .35s;
    &.on{
        z-index: 999;
        opacity: 1;
    }
    &-cont{
        width: calc(100% - 4rem);
        max-width: 480px;
        max-height: calc(100vh - 4rem);
        overflow: auto;
        background: $white;
        border-radius: 1rem;
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        &::-webkit-scrollbar {width: 6px;height: 6px;}
        &::-webkit-scrollbar-thumb {background: $mainColor;}
        &::-webkit-scrollbar-track {background: $gray02;}
        &.on{display: block;}
        &.w-1440{max-width: 1440px;}
        .closed-btn{
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 2rem;
            right: 2rem;
            @include background(icon, closed_icon, png, no-repeat, contain, center, center);
        }
        .pop-tit{
            margin-bottom: 2rem;
            > strong{
                font-size: 2rem;
                font-weight: bold;
            }
        }
        .pop-inner{
            p{
                line-height: 2.4rem;
                // + .pop-inner-cont{}
                + .input-list{margin-top: 2rem;}
            }
            .btn-wrap{margin-top: 2rem;}
        }
    }
    .pop-inner-cont{
        &.h-100{max-height: 10rem;}
        padding-right: .5rem;
        max-height: 58.4rem;
        overflow-x: auto;
        &::-webkit-scrollbar {width: 12px;height: 12px;}
        &::-webkit-scrollbar-thumb {
            background: $darkgray;
            background-clip: padding-box;
            border: 4px solid transparent;
        }
        &::-webkit-scrollbar-track {
            background: #F8F8F8;
            @include border(1px, $gray04);
        }
    }
}
/* 공통 레이아웃 */
#wrap{
    position: relative;
    background: #F8F8F8;
    width: 100%;
    min-height: calc(100vh - 10.8rem);
    &:not(.login){margin-top: 7.6rem;}
    > .con-box{padding: 4rem 0;
    }
}
.con-tab-box{
    .item-box{
        border-radius:0 1.2rem 1.2rem 1.2rem;
    }
}
.con-tab-wrap{
    display:flex;
    .con-tab{
        @include flexbox(row, flex-start, center);
        gap: 0.4rem;
        li{
            @include flexbox(row, center, center);
            position:relative;
            top:1px;
            min-width:12rem;
            height:4.3rem;
            border: 1px solid $gray04;
            border-bottom:0px;
            border-radius:1.2rem 1.2rem 0 0; 
            padding:0 1.4rem;
            background-color:$gray03;
            color:$darkgray;
            transition:all 0.1s ease-in-out;
            a{
                @include flexbox(row, center, center);
                width:100%;
                height:100%;
            }
            &:hover, &.ative{
                z-index:5;
                background-color:$white;
                border-color:$gray01;
                a{font-weight: bold;}
            }
        }
    }
}
.item-wrap{
    &:not(:first-child){margin-top: 2rem;}
}
.item-box{
    position: relative;
    width: 100%;
    padding: 2rem;
    background: $white;
    border-radius: 1.2rem;
    @include border(1px, $gray02);
    .r-not-pad{
        margin:0 -2rem;
    }
}
.item-tit{
    margin-bottom: 1.2rem;
    @include flexbox(row, space-between, center);
    .tit-wrap{
        gap: 1.2rem;
        @include flexbox(row, flex-start, center);
        strong{
            font-size: 1.8rem;
            font-weight: bold;
            gap: .8rem;
            @include flexbox(row, flex-start, center);
            span{
                font-size: 1.6rem;
                font-weight: bold;
                color: $mainColor;
            }
        }
        .switch{
            padding-left: 1.2rem;
            &::before{
                content: '';
                width: 1px;
                height: 80%;
                background: $gray02;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    .more-link{
        font-size: 1.2rem;
        gap: .4rem;
        @include flexbox(row, flex-start, center);
        &::after{
            content: '';
            width: 1.6rem;
            height: 1.6rem;
            @include background(icon, more_arrow_icon, png, no-repeat, contain, center, center);
        }
    }
}
.item-cont{
    position: relative;
    gap: 2rem;
    @include flexbox(column, flex-start, flex-start);
}
.item-tit02 {
    @include flexbox(row, space-between, center);
    strong {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 3.6rem;
        gap: .8rem;
        @include flexbox(row, flex-start, center);
        span {
            font-weight: bold;
            color: $mainColor;
        }
    }
}
.item-con-last{ 
    @include flexbox(row, space-between, flex-start);
    margin-top: 2rem;
    padding-top: 0.8rem;
    position: relative;
    &.flex-end{justify-content: flex-end;}
    &::before{
        content:'';
        display:block;
        width:100%;
        position:absolute;
        left:0;top:0;
        border-top:1px solid $gray02;
    }
    &.main-con-last{
        padding:1rem 2rem;
        &::before{
            width:calc(100% - 4rem);
            left:2rem;
        }
    }
    .text-wrap{
        font-size:1.4rem;
        color:$black;
        span{
            color:$mainColor;
        }
    }
    .btn-wrap{margin-top: 1.2rem;}
}
.cont-tit{
    margin-bottom: 1.8rem;
    @include flexbox(row, space-between, center);
    > div{
        gap: 2rem;
        @include flexbox(row, flex-start, center);
    }
    strong{
        font-size: 2.8rem;
        font-weight: bold;
    }
    .location{
        gap: .6rem;
        @include flexbox(row, flex-start, center);
        &::before{
            content: '';
            width: 2.4rem;
            height: 2.4rem;
            @include background(icon, home_icon, png, no-repeat, contain, center, center);
        }
        span{
            font-size: 1.4rem;
            color: $darkgray;
            position: relative;
            &:last-child{font-weight: bold;}
            &:not(:last-child){
                margin-right: 2.4rem;
                &::after{
                    content: '';
                    width: 1rem;
                    height: 2rem;
                    position: absolute;
                    top: 50%;
                    right: -2rem;
                    transform: translateY(-50%);
                    @include background(icon, arrow_icon01, png, no-repeat, contain, center, center);
                }
            }
        }
    }
}
.cont-inner{
    > div{
        &:not(:last-child){margin-bottom: 2rem;}
    }
}
.tab-list{
    position: relative;
    // z-index: 0;
    gap: .4rem;
    @include flexbox(row, flex-start, flex-start);
    &.column-type{
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        li{
            padding: 1.2rem 2rem;
            width: 11rem;
            border-radius: 1rem 0 0 1rem;
        }
        + .item-box{
            // padding: 1.6rem 2rem;
            width: calc(100% - 9.8rem);
        }
    }
    li{
        position: relative;
        font-size: 1.4rem;
        background: #eeeeee;
        border-radius: 1rem 1rem 0 0;
        margin-left: 0.8rem;
        cursor: pointer;
        z-index: 0;
        @include border(1px, $gray04);
        &:first-child{
            &.on{
                &::after{border-top: 1px solid #bbb;}
            }
        }
        &.on{
            font-weight: bold;
            background: $white;
            margin-left: 0;
            z-index: 1;
            &::after{
                content: '';
                width: 2rem;
                height: 105%;
                background: $white;
                position: absolute;
                right: -1rem;
                top: -0.1rem;
                // top: 50%;
                // transform: translateY(-50%);
            }
        }
    }
}
.search-list{
    .btn-wrap{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
}
.cont-wrap{
    @include flexbox(row, flex-start, flex-start);
    &-tit{
        margin-bottom: 2rem;
        gap: 1.2rem;
        @include flexbox(row, flex-start, center);
        strong{
            font-size: 2rem;
            font-weight: bold;
        }
        span{
            font-size: 1.4rem;
            color: $gray01;
        }
    }
    > div{
        width: 50%;
        position: relative;
        &:first-child{
            .list-type{
                &::before{
                    content: '';
                    width: 1px;
                    height: 100%;
                    background: $gray04;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        &:not(:first-child){padding-left: 2rem;}
    }
}