/* btn-wrap */
.btn-wrap{
	width:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.btn-wrap .left{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.btn-wrap .right{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.btn-wrap .left button{
	margin-right:1.2rem;
}
.btn-wrap .left button:last-child{
	margin-right:0;
}
.btn-wrap .right button{
	margin-right:1.2rem;
}
.btn-wrap .right button:last-child{
	margin-right:0;
}  
  





button{
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border: 1px solid #222222;
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	vertical-align: middle;
}
button:disabled{
	pointer-events: none;
}
/* btn-wrap-type01 */
  button {
	min-width: 10rem;
	max-height: 3.2rem;
	padding: 0.6rem 0.4rem;
	font-size: 1.4rem;
	font-weight: 500;
	border-radius: 0.4rem;
	background: #ffffff;
	color: #656565;
	border-color: #656565;
}
  button:hover {
	color: #ED1C24;
	border-color: #ED1C24;
}
  button:disabled {
	border-color: #aaaaaa;
	background: #eeeeee;
	pointer-events: none;
}
  button.type01 {
	background: #222222;
	border-color: #222222;
	color: #ffffff;
}
  button.type01:hover {
	border-color: #ED1C24;
	background: #ED1C24;
}
  button.type01:disabled {
	border-color: #aaaaaa;
	background: #aaaaaa;
	color: #ffffff;
}
  button.type02 {
	border-color: #ED1C24;
	color: #ED1C24;
	border-color: #ED1C24;
}
  button.type02:hover {
	color: #ffffff;
	background: #ED1C24;
}.responsive-btn-wrap
  button.type02:disabled {
	border-color: #aaaaaa;
	background: #eeeeee;
	color: #656565;
}
  button.size01 {
	min-width: auto;
	padding: 0.6rem 1.2rem;
}
  button.size02{
	min-width: auto;
	padding: 0.2rem 0.6rem;font-size:1rem;
}
  button.icon-button::before {
	content: "";
	width: 2rem;
	height: 2rem;
	-webkit-filter: invert(100%) sepia(5%) saturate(44%) hue-rotate(137deg) brightness(100%) contrast(73%);
			filter: invert(100%) sepia(5%) saturate(44%) hue-rotate(137deg) brightness(100%) contrast(73%);
	background-image: url(../images/icon/excel_icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
  button.icon-button.type01::before {
	-webkit-filter: none;
			filter: none;
}
/* btn-wrap-type02 */
/* 
	box-shadow : 200px 0 0 0 rgba(0,0,0,0.5) inset; 
	200px 0 : 앞쪽의 2개의 숫자는 윗쪽에서 200px, 왼쪽에서 0만큼 띄우라는 뜻
	0 (3번째 숫자) : 번짐의 정도 임
	0 (4번째 숫자) : 펼처짐의 넓이 임
	rgba(0,0,0,0.5) : 색상값과 투명도 임
	inset : 원그림의 외부가 아니라 내부에서만 표현하라는 뜻
*/
.hover-btn-area button:hover {

	box-shadow:10rem 0 0 0 rgba(0,0,0,0.5) inset;
}
.hover-btn-area button{
	-webkit-transition:all 0.9s, color 0.3s;  
	transition:all 0.9s, color 0.3s;  
}
.hover-btn-area button:hover{color:#fff;}
.hover-btn-area .hover1:hover{
	box-shadow:10rem 0 0 0 rgba(0,0,0,0.5) inset;
}
.hover-btn-area .hover2:hover{
	box-shadow:-10rem 0 0 0 rgba(0,0,0,0.5) inset;
}
.hover-btn-area .hover3:hover{
	box-shadow: 0 8rem 0 0  rgba(0,0,0,0.25) inset, 
				0 -8rem 0 0 rgba(0,0,0,0.25) inset;
}
.hover-btn-area .hover4:hover{
	box-shadow: 10rem 0 0 0 rgba(0,0,0,0.25) inset, 
			   -10rem 0 0 0 rgba(0,0,0,0.25) inset;
}

.btn-click-motion button{
	box-shadow: 0 0.3rem 0.6rem #adadad;
}
 .btn-click-motion button:hover{
	border:1px solid transparent;
}
 .btn-click-motion button:active{
	box-shadow: inset 0 0.3rem 0.6rem #adadad;

}


/*btn-wrap-type03 responsive-btn-wrap*/

@media (min-width: 100px) and (max-width: 768px){
	.btn-wrap{
		width:100%;
		-webkit-box-lines: multiple;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.btn-wrap .right,
	.btn-wrap .left{
		display:block;
		width: 100%;
	}
	.btn-wrap .left button{
		margin-right:1.2rem;
	}
	.btn-wrap .left button:last-child{
		margin-right:0;
	}
	.btn-wrap .right button{
		margin-right:0;
	}
	.btn-wrap .right button:last-child{
		margin-right:0;
	}  
	  
	.responsive-btn-wrap button{
		min-width:auto;
		font-size:3.07692vw;
		width:35.89744vw;
		height:8vw;
	}
	.responsive-btn-wrap button.size-m-01{
		width:100%;
	}
	.responsive-btn-wrap button.size-m-02{
		width:50%;
	}
	.responsive-btn-wrap button.size-m-03{
		width:33.333%;
	}
	.responsive-btn-wrap button.size-m-04{
		width:25.64103vw;
	}
	.responsive-btn-wrap button.icon-m-btn{
		font-size:0;
		height:8.20513vw;
		width:8.20513vw;
		max-height: 8.20513vw;
		padding:0;
		background-image:url(../images/icon/date_icon.png);
		background-repeat: no-repeat;
		background-position:center center;
		background-size:5.12821vw;
	}
}

