/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700&display=swap');

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src:url('../../assets/font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
		url('../../assets/font/SpoqaHanSansNeo-Light.woff') format('woff'),
		url('../../assets/font/SpoqaHanSansNeo-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src:url('../../assets/font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
		url('../../assets/font/SpoqaHanSansNeo-Regular.woff') format('woff'),
		url('../../assets/font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src:url('../../assets/font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
		url('../../assets/font/SpoqaHanSansNeo-Medium.woff') format('woff'),
		url('../../assets/font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
}

@font-face {
	font-family: 'SpoqaHanSansNeo';
	src:url('../../assets/font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
		url('../../assets/font/SpoqaHanSansNeo-Bold.woff') format('woff'),
		url('../../assets/font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
}






@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-Black.woff') format('woff');
		font-weight: 900;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-ExtraBold.woff') format('woff');
		font-weight: 800;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-Bold.woff') format('woff');
		font-weight: 700;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-SemiBold.woff') format('woff');
		font-weight: 600;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-Medium.woff') format('woff');
		font-weight: 500;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-Regular.woff') format('woff');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-Light.woff') format('woff');
		font-weight: 300;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-ExtraLight.woff') format('woff');
		font-weight: 200;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../../assets/font/Pretendard-Thin.woff') format('woff');
		font-weight: 100;
		font-display: swap;
		font-style: normal;
}










@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-Black.ttf') format('ttf');
		font-weight: 900;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-ExtraBold.ttf') format('ttf');
		font-weight: 800;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-Bold.ttf') format('ttf');
		font-weight: 700;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-SemiBold.ttf') format('ttf');
		font-weight: 600;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-Medium.ttf') format('ttf');
		font-weight: 500;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-Regular.ttf') format('ttf');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-Light.ttf') format('ttf');
		font-weight: 300;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-ExtraLight.ttf') format('ttf');
		font-weight: 200;
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'NotoSans';
	src: url('../../assets/font/NotoSans-Thin.ttf') format('ttf');
		font-weight: 100;
		font-display: swap;
		font-style: normal;
}