@import "./common/_common";
@import "./common/_layout";

#wrap{
    // 로그인페이지
    &.login{
        height: 100vh;
        @include background(login, login_bg, png, no-repeat, cover, top, left);
        .login-cont{
            width: calc(100% - 4rem);
            max-width: 48rem;
            position: absolute;
            top: 13rem;
            left: 10%;
            .tit{
                font-size: 8rem;
                font-weight: 300;
                margin: 3rem 0;
                color: $white;
            }
            .input-list{
                margin-bottom: 1.2rem;
                > li{
                    &:not(:first-child){margin-top: 2rem;}
                    gap: 1.2rem;
                    .input-tit{
                        span{
                            color: $white;
                            font-weight: 500;
                        }
                    }
                    .input-cont{
                        input{
                            height: auto;
                            max-height: 4.4rem;
                            padding: 1.2rem 1.4rem;
                            border-radius: .8rem;
                            color: $gray04;
                            background: #707070;
                            &::placeholder{color: $gray04;}
                        }
                    }
                }
                + a{
                    color: $gray03;
                    text-decoration: underline;
                    @include flexbox(row, flex-end, flex-start);
                    + button{
                        width: 100%;
                        max-height: 100%;
                        padding: 1.8rem 1rem;
                        color: $darkgray;
                        margin-top: 4rem;
                        background: $white;
                        border-radius: .8rem;
                        &:hover, &.on{
                            background: $mainColor;
                            border-color: $mainColor;
                            color: $white;
                        }
                    }
                }
            }
            .alert{
                margin-top: 1.2rem;
                @include flexbox(row, space-between, center);
                .icon{
                    width: 2rem;
                    height: 2rem;
                    text-indent: -9999em;
                    @include background(icon, alert_icon, png, no-repeat, contain, center, center);
                }
                &-info{
                    position: relative;
                    background: $subColor;
                    font-weight: 500;
                    color: $mainColor;
                    padding: .8rem 1rem;
                    border-radius: .4rem;
                    @include border(1px, $mainColor);
                    &::before{
                        content: '';
                        width: 1.6rem;
                        height: 2rem;
                        position: absolute;
                        left: -1.6rem;
                        top: 50%;
                        z-index: 0;
                        transform: translateY(-50%);
                        @include background(icon, alert_object_icon, png, no-repeat, contain, center, center);
                    }
                }
            }
        }
        + #copyright{
            background: none;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
    // 대시보드
    &.dashboard{
        > .con-box{
            .flex-between{
                gap: 2rem;
                > div{width: calc(100% / 2 - 1rem);}
            }
            .menu-list{
                width: 100%;
                gap: 1.2rem;
                flex-wrap: wrap;
                @include flexbox(row, flex-start, flex-start);
                > li{
                    width: calc(100% / 2 - .6rem);
                    .menu-tit{
                        font-weight: 500;
                        gap: 1.2rem;
                        @include flexbox(row, flex-start, center);
                    }
                    .menu-num{
                        margin-top: 0.8rem;
                        font-weight: 500;
                        gap: .4rem;
                        @include flexbox(row, flex-end, center);
                        strong{
                            font-size: 2.4rem;
                            font-weight: bold;
                            color: $mainColor;
                        }
                    }
                }
            }
            // 대시보드 베스트제품 슬라이드
            #bestProduct{
                width: 100%;
                .swiper-slide{
                    .product-list{
                        // gap: 2rem;
                        @include flexbox(column, flex-start, flex-start);
                        > li{
                            width: 100%;
                            &:not(:first-child){
                                border-top: 1px solid $gray01;
                                padding-top: 2.6rem;
                                margin-top: 2.6rem;
                            }
                            .product-tit{
                                font-weight: bold;
                                display: block;
                                margin-bottom: 1.2rem;
                                + ul{
                                    @include flexbox(row, space-between, flex-start);
                                    li{
                                        position: relative;
                                        &.tag{
                                            &::before{
                                                width: 4rem;
                                                min-height: 2rem;
                                                padding: .2rem;
                                                background: $mainColor;
                                                color: $white;
                                                font-size: 1.2rem;
                                                font-weight: 500; 
                                                border-radius: .4rem 0 .4rem 0;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                @include flexbox(row, center, center);
                                            }
                                            &.hot{&::before{content: 'HOT';}}
                                            &.new{&::before{content: 'NEW';}}
                                        }
                                        .product-preview{
                                            width: 100%;
                                            margin-bottom: 0.8rem;
                                            border-radius: .4rem;
                                            overflow: hidden;
                                            @include border(1px, $gray04);
                                            img{
                                                max-width: 100%;
                                                display: block;
                                            }
                                        }
                                        span{
                                            font-size: 1.4rem;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .product-controls{
                position: relative;
                width: 7.4rem;
                min-height: 1.6rem;
                .swiper-pagination{
                    // top: 50%;
                    // transform: translateY(-50%);
                    bottom: 0;
                    *{color: $black;}
                    .swiper-pagination-current{color: $mainColor;}
                }
                .swiper-button{
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-top: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 99;
                    &::after{display: none;}
                    &-prev{
                        left: 0;
                        @include background(icon, arrow_icon02, png, no-repeat, contain, center, center);
                    }
                    &-next{
                        right: 0;
                        @include background(icon, arrow_icon03, png, no-repeat, contain, center, center);
                    }
                }
            }
        }
    }
    // 스타일가이드
    &.style-guide{
        padding: 2.4rem;
        background: $white;
        @include border(1px, #333);
        .con-box{
            > h3{
                width: 100%;
                display: block;
                padding: 1rem;
                color: $white;
                font-size: 4rem;
                font-weight: bold;
                text-align: center;
                background: $black;
            }
            > div{
                padding: 2rem;
                margin-top: 4rem;
                border: 1px solid #000;
                > strong{
                    display: block;
                    font-weight: bold;
                    margin-bottom: 1.6rem;
                }
                .cont-inner{
                    gap: 2rem;
                    @include flexbox(column, flex-start, flex-start);
                }
            }
            .tab-area{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                > li{
                    width: 100%;
                    > a{
                        width: 100%;
                        padding: 1.6rem 0;
                        font-weight: bold;
                        border-radius: 3rem;
                        text-align: center;
                        display: block;
                        background: $black;  
                        color: $white;
                    }
                }
            }
            .type-list{
                @include flexbox(row, flex-start, flex-start);
                flex-wrap: wrap;
                gap: 3rem 2.4rem;
                &:not(:last-child){margin-bottom: 2.4rem;}
                > li{
                    @include flexbox(row, flex-start, flex-start);
                    gap: 1rem;
                    margin-top: 0;
                    &.column-type{flex-direction: column;}
                    span{
                        font-size: 1.4rem;
                        display: block;
                        margin-bottom: 1rem;
                    }
                    > button{
                        &:not(:first-child){margin-top: 1rem;}
                    }
                    > div{
                        // &:not(:first-child){margin-top: 1rem;}
                        &.flex-wrap{gap: 1.2rem;}
                    }
                }
            }
        }
    }
}

.item-top{
    margin-bottom:2.8rem;
    @include flexbox(row, flex-start, flex-start);
    ul.tab{
        margin:0 0 0 2rem;
        @include flexbox(row, flex-start, center);
        li{
            @include flexbox(row, center, center);
            position:relative;
            padding-bottom:0.5rem;
            margin-right:1.5rem;
            > a{
                @include flexbox(row, center, center);
                font-size:1.6rem;
            }
            &::after{
                content:'';
                display:block;
                position:absolute;
                bottom:0;left:0;
                width: 0%;
                height:0.2rem;
                background-color:$mainColor;
                color:$black;
                font-weight:bold;
                transition:width .25s ease-in-out;
            }
            &:hover{
                &::after{
                    width:92%;
                }
                a{
                    font-weight:600;
                }
            }
            &.ative{
                &::after{
                    width:92%;
                }
                a{
                    font-weight:600;
                }
            }
        }
    }
    .tit{
        font-size:2rem;
        font-weight:bold;
        color:$black;
    }
}
.item-con{
    @include flexbox(row, flex-start, flex-start);
    position:relative;

}

/*main-visual & main-brand*/
.main-con-wrap{
    display:flex;
    flex-wrap: wrap;
    gap:4rem 0;
    .main-con-list{
        width:33.3333%;
        padding:0 2rem 0rem 2rem;
        position:relative;
        &::after{
            content:'';
            display:inline-block;
            position:absolute;
            top:0;
            right:0;
            width:.1rem;
            height:100%;
            background-color:$gray02;
        }
        .top{
            margin-bottom: 1.6rem;
            @include flexbox(row, space-between, center);
            h3{
                font-size: 1.6rem;
                font-weight:600;
            }
            .trash-icon{
                width:3.2rem;
                height:3.2rem;
                min-width:auto;
                border:none;
                cursor:default;
                @include background(icon, trash_icon, png, no-repeat, 100%, center, center);
                &.on{
                    @include background(icon, trash_on_icon, png, no-repeat, 100%, center, center);
                    cursor:pointer;
                }
            }
        }
        .input-list{
            &.type01{gap: 2rem;}
        }
    }
    .main-con-list:nth-child(3n){
        &::after{
            display:none;
        }
    }
}
/* contents */
.contents-popup-con{
    position:relative;
    //margin-bottom:2rem;
    &::after{
        content:'';
        display:inline-block;
        position:absolute;
        top:0;
        right:50%;
        transform: translateX(-50%);
        width:.1rem;
        height:100%;
        background-color:$gray02;
    }
    > div{
        width:50%;
        .form-group{
            width:44rem;
            .input-wrap{
                &.radio{
                    margin-bottom:1rem;
                }
            }
        }
        &:nth-child(2){
            padding-left:2rem;
            .form-group{
                &:nth-child(2){
                    width:100%;
                }
                input.text-center{
                    text-align:center;
                }
            }
        }
    }
}

.table-wrap-top{
    .table-name{
        @include flexbox(row, space-between, center);
        span{
            font-size:2rem;
            font-weight: bold;
            padding-right:2rem; 
        }
    }
}


/* popup brand-more-tb*/
.brand-search-table{
    table{
        thead{
            th{
                &:first-child{
                    width:6rem;
                }
            }
            
        }
        tbody{
            td{
                div{
                    font-size:1.4rem;
                    .input-wrap.radio{
                        input[type=radio]{
                            + label{
                                padding-left:1.6rem;
                            }
                        }
                    } 
                }
            }
        }
    }

}