html{
	font-size:10px;
}
.web_publish{
	position:relative;
	min-height:100vh;
	width:100%;
}
.side_bar{
	position:absolute;
	left:0;
	top:0;
	max-width:300px;
	width:25vw;
	border-right:1px;
	background-color: #fff;
	padding:2rem;
	height:100%;
}
.side_bar ol li{
	width:100%;
}
.side_bar .flex-cross{
	width:100%;
}

.layout{
	font-size:0;
	position:absolute;
	left:0;top:0;
	width:0;height:0;
	overflow:hidden;
}

.form-wrap{
	display:block;
	position:relative;
	
}

.flex-box{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
section{
	width:100%;
	margin-bottom:20px;
	min-height:200px;
}   
article{
	max-width:1080px;
	margin:0 auto;
	position:relative;
	border:1px solid #ddd;
	border-radius: 1.6rem;
}
.container{
	max-width:1080px;
	margin:0 auto;
	position:relative;
}
.inner{
	padding:30px;
}
.inner.inner-nopad{
	padding:0;
}
.inner h2{
	margin-bottom:20px;
	font-size:22px;
	font-weight: 600;
}
.layout-title{
	font-size:0;
	width:0;
	height: 0;
	overflow: hidden;
}
.item-wrap{
	
}
.item-wrap::after{
	content:'';
	display:block;
	clear:both;
}
.item{
	display:block;
}
.item-row-wrap .item{
	display:inline-block;
	vertical-align: top;
}
.item-row-1 .item{width:100%;margin-bottom:20px;}
.item-row-2 .item{width:50%;}
.item-row-3 .item{width:33.3333%}
.item-row-4 .item{width:25%}
@media (min-width: 100px) and (max-width: 768px){
	.wrap{
		padding:0 4.16vw;
	}
	.only_w{
		display:none;
	}
	section.only_w{
		 
	}
	.container{
		width:100%;
		overflow:hidden;
	}
	.inner{
		padding:3vw;
	}

}